<nav class="navbar">
    <div class="logo" routerLink="/">TPlan</div>
    <div class="menu-container">
        <div class="burger-menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul [ngClass]="{'active': isMenuOpen}" class="nav-links">
            <li><a routerLink="/trips" routerLinkActive="active">Trips</a></li>
            <li><a routerLink="/plan" routerLinkActive="active">Route Plan</a></li>
            <li><a routerLink="/accommodations" routerLinkActive="active">Accommodations</a></li>
            <li><a routerLink="/transport" routerLinkActive="active">Transport</a></li>
            <li><a routerLink="/expenses" routerLinkActive="active">Expenses</a></li>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
        </ul>
        <div class="overlay" [ngClass]="{'active': isMenuOpen}" (click)="closeMenu()"></div>
    </div>
    <div>
        <a href="#" class="login-btn">Login</a>
        <a href="#" class="signup-btn">Sign up</a>
    </div>

</nav>