<nav class="navbar">
    <div class="logo">TPlan</div>
    <ul class="nav-links">
        <li><a routerLink="/trips" routerLinkActive="active">Trips</a></li>
        <li><a routerLink="/plan" routerLinkActive="active">Route</a></li>
        <li><a routerLink="/accommodations" routerLinkActive="active">Accommodations</a></li>
        <li><a routerLink="/transport" routerLinkActive="active">Transport</a></li>
        <li><a routerLink="/expenses" routerLinkActive="active">Expenses</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>
    <div class="auth-buttons">
        <a href="#" class="login-btn">Login</a>
        <a href="#" class="signup-btn">Sign up</a>
    </div>
    <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>