@use '@angular/material' as mat;
@include mat.core();

$TravelPlan-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$yellow-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      ),
    ));

:root {
  @include mat.all-component-themes($TravelPlan-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.landing-page {
  background-color: #00b0c3;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cta-buttons .btn {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.primary-btn {
  background-color: #DB6851;
  color: white;
  box-shadow: 1px 3px 5px #101000;
}

.primary-btn:hover {
  background-color: #F2962F;
  box-shadow: 1px 3px 10px #101000;
  scale: 1.01;
}

.secondary-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.secondary-btn:hover {
  background-color: white;
  color: #00C0C3;
  box-shadow: 1px 3px 10px #101000;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}